<p style="color: green"><%= notice %></p>

<style type="text/css">
   h1 { 
    color : gray;
    font-size: 100px;
    margin-left: 40px;
   } 
   
   div {
     padding:  10px;
     margin: 10px;
     background-color: #DDFFFF;
     font-size: 30px;
   }
   
   p a {
       text-align:  center;                /* 文字中央揃え */
    color:  #fff;                       /* 文字色指定 */
    background-color: #00BCD4;          /* 背景色指定 */
    display:  block;                    /* ブロック要素にする */
    width:  300px;                      /* 幅指定 */
    padding:  15px;                     /* 余白指定 */
    font-size:  20px;                   /* 文字サイズ指定 */
    text-decoration:  none;             /* デフォルトCSS打ち消し */
    border-radius:  5px;                /* 角丸指定 */
    box-shadow: 0 4px 0 0px #028d9e;    /* 影指定 */
    margin-top : 20px;
    margin-left: 20px;
   }
   
  </style>
<h1>list</h1>

<div id="microposts">
  <% @microposts.each do |micropost| %>
    <div><%= render micropost %></div>
    <div>
      <%= link_to "投稿の詳細を確認", micropost %>
    </div>
  <% end %>
</div>

<p><%= link_to "新しい投稿を追加", new_micropost_path %></p>

